In [2]:
if True:
    # TSB
    print("TSB")

if False:
    print('TSB')

print('Next Line')

TSB
Next Line

In [3]:
if True:
    print('TSB')
else:
    print('FSB')

print()

TSB

In [5]:
if False:
    print('TSB 1')
elif True:
    print('TSB 2')
else:
    print('FSB')

print('Next Line')

TSB 2
Next Line

In [10]:
n = 1

while n <= 10: # n = 11 | 11 <= 10
    print(n)  # 1 2 3 4 5 .... 7 8 9 10
    n += 1  # n = 11

print('executed')

1
2
3
4
5
6
7
8
9
10
executed

In [2]:
# 10 9 8 ..... 1

n = 10

while n > 0: # 10 <= 0
    print(n)
    n = n - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# print all numbers from 50 to 70,  50, 51, 52, .... 69

n = 50

while n < 70:
    print(n)
    n = n + 1

In [5]:
n = 43

if n % 2 == 0:
    print('even')

odd

In [9]:
# two numbers m and n, print all even numbers in between then
m = int(input()) # 50
n = int(input()) # 69

while m <= n: 
    if m % 2 == 0:
        print(m)
    m = m + 1

50
52
54
56
58
60
62
64
66
68

In [10]:
m = 20
n = 30

while m <= n:
    if m % 2 != 0:
        print(m)
    m += 1

21
23
25
27
29

In [12]:
n = 1457
rev = 0

while n > 0: # n = 0 > 0
    rem = n % 10 # rem = 1
    rev = rev * 10 + rem # (754 * 10) + 1 | rev = 7541
    n = n // 10 # n = 0

print(rev) # 7541

7541

In [25]:
# print all the elements in a list abd print all the even nums only

arr = [2, 3, 4, 5, 6]

start = 0
end = len(arr) - 1

while start <= end:
    print(arr[start])
    start += 1

2
3
4
5
6

In [ ]:
# print all the numbers from 1 to 100, which are divisible by 5

n = 1

while n < 100:
    if n % 5 == 0:
        print(n)
    n += 1

In [27]:
# print all even numbers
arr = [10, 9, 8, 7, 6, 5, 4, 3]
start = 0
end = len(arr) - 1

while start <= end:
    if arr[start] % 2 == 0:
        print(arr[start])
    start += 1

10
8
6
4

In [33]:
# Armstrong number
# 135 = 1 ** 3 + 3 ** 3 + 5 ** 3
# 153 = 1 ** 3 + 5 ** 3 + 3 ** 3

n = 153
res = 0
temp = n

while n > 0:
    rem = n % 10
    res = res + rem ** 3
    n =n // 10

if res == temp:
    print('this is armstrong')
else:
    print('this is not')

this is armstrong

In [37]:
# pallindrome
# if a number is equal to its reversed value , then it is a pallindrome
# 121 = 121
# 432 != 234 , not
n = 141
temp = n
rev = 0

while n > 0: # n = 0 > 0
    rem = n % 10 # rem = 1
    rev = rev * 10 + rem # (754 * 10) + 1 | rev = 7541
    n = n // 10 # n = 0

if rev == temp:
    print('pallindroe')
else:
    print('it is not')

pallindroe

In [53]:
# arr = 'MSys'
# arr[::-1]

n = 131

s = str(n)

if s == s[::-1]:
    print('pallindrome')
else:
    print('not pallindrome')

pallindrome

In [64]:
n = int(input())
s = lambda n: ''.join([str(i) for i in range(1, n + 1)] + [str(i) for i in range(n -1, 0, -1)])
print(' '.join(map(s, range(1, n + 1))))

1 121 12321 1234321

In [87]:
s = input()

res = {}
for i, _ in enumerate(s):
    for j, _ in enumerate(s[i+1:]):
        temp = s[i:j]
        if len(temp) == len(set(temp)):
            res[temp] = len(temp)

print(max(res.values()))

1

In [99]:
import math


x = int(input())
y = int(input())
res = []

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(math.sqrt(n) + 1)):
        if n % i == 0:
            return False
    return True

for i in range(x, y + 1):
    if is_prime(i):
        res.append(i)

print(sum(res))

10

In [15]:
n = 1543

res = 0

while n > 0:
    m = n % 10
    res = res * 10 + m
    print(res)
    n = n // 10

print(res)

3
34
345
3451
3451

In [20]:
s = 'abcde'
res = ''

i = 0

while i < len(s):
    res = s[i] + res
    i = i + 1


print(res)  # 'edcba'

edcba

In [ ]:
# wap to check if a number is prime number or not , n >= 2

n = 13

i = 2
flag = True
while i < n:
    if n % i == 0:
        flag = True

In [23]:
15 % 5 == 0

True

In [29]:
n = 93
print(n % 1 == 0)
print(n % 2 == 0)
print(n % 3 == 0)
print(n % 4 == 0)
print(n % 5 == 0)

True
False
False
False
True

In [ ]:
i = 1
while i < 101:
    print(i)
    if i == 50:
        break
    i  = i + 1

print('executed')

In [ ]:
# print 1 to 20, but break when n is divisible by both 5 and 3

i = 1

while i < 20:
    print(i)

    if i % 5 == 0 and i % 3 == 0:
        continue

    i = i + 1

In [52]:
# print the sum of numbers from 1 to 20, but dont calculate from 5 to 10

i = 0
res = 0

while i < 10: # 10 < 10
    if i >= 5 and i < 8: # 9 >= 5 and 9 < 8
        i = i + 1 # 5 + 1 = 6 + 1 = 7 + 1= 8
        continue
    res = res + i # 6 + 4 = 10 + 8 + 9 = 27
    i = i + 1 # 4 + 1 = 5 .. 8 + 1 = 9 + 1 = 10

print(res) # 2

27

In [41]:
5 <= 2 < 8

False

In [56]:
# print all the even numbers between 1 to 10

i = 1
while i <= 10: # 11 <= 10
    if i % 2 == 1: # 10 % 2 == 1
        i = i + 1 # 10
        continue
    print(i)
    i = i + 1 # 11

2
4
6
8
10

In [63]:
if 10 % 2 == 0:
    # comment
    print(10)

print(True)

10
True

In [67]:
def display():
    pass

display()

IndentationError: expected an indented block after function definition on line 1 (1083687467.py, line 4)

In [4]:
n=int(input()) # 16
i=2
fac=0
while i < n: # 4 < 4
    if n % i ==0: # 4 % 3 == 0
        fac=1
    i=i+1 # 4
if fac==0:
    print("prime number")
else:
    print("not a prime")

not a prime

In [9]:
import math
n = int(input()) #113

i = 2
is_prime = True

while i < math.sqrt(n) : # 2 < 100
    if n % i == 0: # 100 % 2 == 0
        is_prime = False
        break
    i = i + 1

if is_prime:
    print("Prime")
else:
    print("not Prime")

Prime

In [13]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# arr[1:6]
# ! start < end
# arr[6:1:-1]
arr[8:2:-1]
#! start > end

[9, 8, 7, 6, 5, 4]

In [12]:
arr[start: end + 1: 1]
arr[start: end - 1: -1]

# end - 1 = 2
# end = 3

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (700090735.py, line 4)

In [16]:
arr

10 in arr

False

In [ ]:
# val in collection

In [17]:
arr = [1, 2, 3, 4, 5]

i = 0
n = len(arr)

while i < n:
    print(arr[i])
    i += 1

1
2
3
4
5

In [18]:
for i in arr:
    print(i)

1
2
3
4
5

In [20]:
arr = [5, 9, 8, 6, 3, 2, 1]

for i in arr:
    if i % 2 == 0:
        print(i)

8
6
2

In [23]:
even = []
odd = []
for i in arr:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[8, 6, 2]
[5, 9, 3, 1]

In [24]:
arr = [1, 2, 3, -1, -5, -8]
p = []
n = []

for i in arr:
    if i > 0:
        p.append(i)
    else:
        n.append(i)
print(p, n)

[1, 2, 3] [-1, -5, -8]

In [25]:
l = [1, 2, 3, 4]
t = (10, 20, 30, 40)
st = 'MSys'
s = {'a', 'b', 'c'}
d = {1: True, 2: 100, 3: 'abc'}

In [60]:
# print('at index', 0, 'value is', 1)
# print('at index', 1, 'value is' ,2)
# print('at index', 2, 'value is' ,3)
# print('at index', 3, 'value is' ,4)
for i in range(0, len(s)):
    print('at index', i, 'value is')

at index 0 value is
at index 1 value is
at index 2 value is

In [41]:
d.items()

dict_items([(1, True), (2, 100), (3, 'abc')])

In [48]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [51]:
print(list(range(5, 501, 3)))

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107, 110, 113, 116, 119, 122, 125, 128, 131, 134, 137, 140, 143, 146, 149, 152, 155, 158, 161, 164, 167, 170, 173, 176, 179, 182, 185, 188, 191, 194, 197, 200, 203, 206, 209, 212, 215, 218, 221, 224, 227, 230, 233, 236, 239, 242, 245, 248, 251, 254, 257, 260, 263, 266, 269, 272, 275, 278, 281, 284, 287, 290, 293, 296, 299, 302, 305, 308, 311, 314, 317, 320, 323, 326, 329, 332, 335, 338, 341, 344, 347, 350, 353, 356, 359, 362, 365, 368, 371, 374, 377, 380, 383, 386, 389, 392, 395, 398, 401, 404, 407, 410, 413, 416, 419, 422, 425, 428, 431, 434, 437, 440, 443, 446, 449, 452, 455, 458, 461, 464, 467, 470, 473, 476, 479, 482, 485, 488, 491, 494, 497, 500]

In [52]:
print(tuple(range(0, 100, 5)))

(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95)

In [53]:
print(list(range(100, 0, -1)))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
9 in range(1, 10)

True

In [72]:
arr = [4, 10, 9, 11, 5, 4, 2, 8, 6]

for i in range(0, len(arr)):
    if i % 2 == 0 :
        print(arr[i] ** 2)

16
81
25
4
36

In [5]:
# WAP to count the nuber of perticular elment from collection

s = 'MSys is a company'
char = 's'

count = 0

for i in s:
    if i == char:
        count += 1

print(count)

2

In [9]:
c = 'A'

if 'A' <= c <= 'Z':
    print('upper')

# v= "aeiou"
# 'a' in v

upper

True

In [11]:
# from agiven string count the no of uppercase, lowecase and spaces
s = 'MSys is a company'

res = {'upper':0, 'lower':0, 'space':0}

for  i in s:
    if i == ' ':
        res['space'] += 1
    elif 'A' <= i <= 'Z':
        res['upper'] = res['upper'] + 1
    elif 'a' <= i <= 'z':
        res['lower'] = res['lower'] + 1

print(res)

{'upper': 2, 'lower': 12, 'space': 3}

In [31]:
# from a given list, print how many times each element repeated
arr = [1, 2, 3, 1, 10]

res = {}
print(res)

for i in arr: # i = 10
    if i in res:
        res[i] = res[i] + 1
    else:
        res[i] = 1

for key, value in res.items():
    print(key, 'is present for', value, 'times')

{}
{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 1, 3: 1}
{1: 2, 2: 1, 3: 1}
{1: 2, 2: 1, 3: 1, 10: 1}
1 is present for 2 times
2 is present for 1 times
3 is present for 1 times
10 is present for 1 times

In [33]:
# factorial of a number
# # fibonacii series

arr = [-1, -3, 1, -5, 2, -10, 8, 7]

p = []
n = []

for i in arr:
    if i > 0:
        p.append(i)
    else:
        n.append(i)

print('+ve numbers', p)
print('-ve numbers', n)

+ve numbers [1, 2, 8, 7]
-ve numbers [-1, -3, -5, -10]

In [10]:
a = [1, 2, 3, 4, 5]
s = 'abc'

for i in a:  # i = 4
    for j in s: # j = 'c'
        if j == 'c':
            break
        print(i, j)
        

    if i == 4 :
        break

    print(f'loop {i} completed')

print('executed')

1 a
1 b
loop 1 completed
2 a
2 b
loop 2 completed
3 a
3 b
loop 3 completed
4 a
4 b
executed

In [3]:


start = 5
end = 1

for i in range(start, end - 1, -1):
    print(i)

5
4
3
2
1

In [7]:
# list(range(-10, 10, 1))

list(range(45, 38, -1))

[45, 44, 43, 42, 41, 40, 39]

In [5]:
-34-1

-35

In [16]:
count = 0

for _ in range(6):
    for j in range(5):
        count += 1

print(count)

30

In [34]:
arr = [1, 2, 3, 4, 5, 5]
# r = 0
# for i in arr:
#     if arr.count(i) > 1:
#         r = i
#         break
# print(r)

# for i in range(0, len(arr)):    
#     for j in range(i+1, len(arr)):    
#         if(arr[i] == arr[j]):    
            # print(arr[j])

res = {}
# print(res)

for i in arr: 
    if i in res:
        res[i] = res[i] + 1
    else:
        res[i] = 1

for k, v in res.items():
    if v > 1:
        print(k)
        break

# print(r) # 5

5

In [33]:
for k, v in res.items():
    print(k, v)

1 1
2 1
3 1
4 1
5 2

In [28]:
# tuple unpacking
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [29]:
x = ('a', 'b')

p, q = x
print(p, q)

a b

In [38]:
arr = [1, 2, 1, 3, 2, 4, 3]

res={}
for i in arr:
    if i in res:
        res[i] = res[i] + 1
    else:
        res[i] = 1

for k,v in res.items():
    if v == 1:
        print(k)

# print(res) # 4

4

In [57]:
arr = [1, 2, 1, 3, 2, 4, 3]

res = 0

for i in arr: # i = 1
    res = res ^ i # res = 0 ^ 1 = 2

print(res)

5

In [44]:
print(10 ^ 0, 10 ^ 10)

10 0

In [46]:
print(bin(0)[2:])
print(bin(10)[2:])

0
1010

In [47]:
# 10 ^ 10
# 1010
# 1010

# 0000

In [52]:
6 ^ 0

6

In [54]:
15 ^ 15

0

In [3]:
x, y, z = 1, 2, 3

In [4]:
print(x, y, z)

1 2 3

In [5]:
def foo():
    return (10, 'MSys')

In [9]:
d = {1: 'a', 2:'b', 3:'c'}

In [14]:
d
d.items()
# d.keys()
# d.values()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
for k, v in d.items():
    print(10 + k)
    print(k, v)

In [21]:
a = [10, 20, 30, 40, 50]

In [22]:
list(enumerate(a))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [23]:
print(type(enumerate(a)))

<class 'enumerate'>

In [27]:
for p, q in enumerate(a):
    print(f"index is: {p}, value is:{q}")

index is: 0, value is:10
index is: 1, value is:20
index is: 2, value is:30
index is: 3, value is:40
index is: 4, value is:50

In [29]:
arr = (1, 2, 5, 4, 2, 3, 4)

# print all  even numbers

for i in arr:
    if i % 2 == 0:
        print(i)

2
4
2
4

In [43]:
arr = (21, 22, 51, 42, 23, 36, 43)

# if that is a even no print the index

# for i in arr:
#     if i % 2 == 0:
#         print(i)

# for i in range(len(arr)):
#     if arr[i] % 2 == 0:
#         print(i)

for i, v in enumerate(arr): # i = 6,  v = 45
    if v % 2 == 0:
        print(i)

1
3
5

In [39]:
not 0

True

In [34]:
i % 2

1

In [51]:
arr = [1, 2, 3, 4, 1]

for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i] == arr[j]:
            print(arr[i])


for i, v in enumerate(arr):
    for j, x in enumerate(arr[i+1:]):
        if v == x:
            print(v)

1

In [52]:
s = 'abc'

for i, v in enumerate(s):
    print(i, v)

0 a
1 b
2 c

In [55]:
s = 'abc'
a = [1, 2, 3]
list(zip(a, s))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [56]:
dict([(1, 'a'), (2, 'b'), (3, 'c')])

{1: 'a', 2: 'b', 3: 'c'}

In [67]:
l1 = [1, 2, 3]
l2 = (7, 8, 9, 10)
l3 = 'abc'

In [62]:
for i, v in zip(l1, l2):
    print(i, v)

1 7
2 8
3 9

In [64]:
list(zip(l1, l2))

[(1, 7), (2, 8), (3, 9)]

In [70]:
for x in zip(l1, l2, l3):
    print(x)

(1, 7, 'a')
(2, 8, 'b')
(3, 9, 'c')

In [74]:
names = ['a', 'b']
age = [10, 20]

dict(zip(names, age))

import pandas as pd

df = pd.DataFrame(zip(names, age))

In [75]:
df

   0   1
0  a  10
1  b  20

In [76]:
a = [1, 2, 3]
b = ['a', '2', 'c']

In [80]:

for i, j in zip(a, b):
    if str(i) == j:
        print(i)

2

In [11]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
res = a + b + c + d + e
print(res)

25

In [23]:
n = int(input('Enter thenumber '))
first = 0 
second = 1 
for i in range(n): 
    print(first) 
    temp = first 
    first = second 
    second = temp + second

0
1
1
2
3

# start > end -> -ve updation -> start, end - 1, -1
# start < end -> +ve updation -> start, end + 1, 1

In [20]:
n = 5
fact = 1

for i in range(1, n + 1):  # i = 5 | 4 | 3 } 2 | 1
    fact *= i    # 1 * 5 = 5 * 4 = 20 * 3 = 60 *2 = 120 * 1 = 120

print(fact)


n = int(input())
fact = 1

for i in range(1, n + 1):
    fact *= i

print(fact)


n = int(input())
fact = 1

for i in range(1, n + 1):
    fact *= i

print(fact)

120
720
5040

In [24]:
# 0 1 1 2 3 5 8 13 21 34 55 .....

n = int(input())

first = 0
second = 1

for i in range(n):
    print(first)
    first, second = second, first + second

0
1
1
2
3

In [32]:
# n th fibonacii no.
# 0 1 1 2 3 5 8 13 21 34 55 .....
n = int(input()) # 5

first = 0
second = 1

res = 0

for i in range(n):  # i = 5
    res = first # 3
    first, second = second, first + second  # first = 5, second = 8

print(res)


n = int(input()) # 10

first = 0
second = 1

res = 0

for i in range(n):  # i = 5
    res = first # 3
    first, second = second, first + second  # first = 5, second = 8

print(res)


n = int(input()) # 10

first = 0
second = 1

res = 0

for i in range(n):  # i = 5
    res = first # 3
    first, second = second, first + second  # first = 5, second = 8

print(res)

3
34
377

In [27]:
a = 5
a = 10

In [ ]:
# def func_name(arg1, arg2, ..., argn):
#     statement 1
#     statement 2
#     statement 3
#     statement n


# func_name(1, 2, ...10)

In [7]:
n = int(input())
m = int(input())

print(m + n)
print(m -n)
print(m*n)
print(m/n)
print(m // n)

print("---------------------")

x = 10
y = 4
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)

print("---------------------")

x = 40
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)

13
1
42
1.1666666666666667
1
---------------------
14
6
40
2.5
2
---------------------
43
37
120
13.333333333333334
13

In [11]:
def add_two_nums(n, m):
    print(m + n)
    print(m - n)
    print(m * n)
    print(m // n)
    print(m + n)


m = 10
n = 5
add_two_nums(n, m)
print('-----------')
x = 34
y = 43
add_two_nums(x, y)

print('-----------------')
p = 50
q = 30
add_two_nums(p, q)

15
5
50
2
15
-----------
77
9
1462
1
77
-----------------
80
-20
1500
0
80

In [42]:
type(sum)

int

In [8]:
def nth_fib(n):
    first = 0
    second = 1

    res = 0

    for i in range(n):  # i = 5
        res = first # 3
        first, second = second, first + second 

    print(res)


nth_fib(int(input()))
nth_fib(int(input()))
nth_fib(int(input()))
nth_fib(int(input()))
nth_fib(int(input()))

0
1
1
2
3

2225387340304
2225387340304

UnboundLocalError: local variable 'x' referenced before assignment

In [11]:
def display():
    print("message")

display()
x = display()
print(x)

message
message
None

In [ ]:
# wap to create a function, inside that function take one user input, print it is a pallindrome number or not

n = int(input()) # 123
temp = n # 121
res = 0

while temp > 0: 
    res = res * 10 + temp % 10
    temp = temp // 10  

if n == res:
    print(True)
else:
    print(False)

In [18]:
def display():
    n = int(input()) # 123
    temp = n # 121
    res = 0

    while temp > 0: 
        res = res * 10 + temp % 10
        temp = temp // 10  

    if n == res:
        print(True)
    else:
        print(False)

print(display())

True
None

In [16]:
# wapt to create a functon, creatwe one list 5 elements and print it

0.1

In [19]:
n = 5
arr = []

for i in range(n):
    arr.append(input())

print(arr)

['1', '2', '3', '4', '5']

In [22]:
def create_list():
    n = 5
    arr = []

    for i in range(n):
        arr.append(input())

    print(arr)

create_list()
print(type(create_list))

['1', '2', '2', '3', '4']
<class 'function'>

In [23]:
print(id(create_list))

2225443450896

In [26]:
temp = create_list
print(type(temp))

<class 'function'>

In [27]:
temp()

['2', '4', '5', '6', '7']